/*General*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

/* Liste déroulante */
#entityContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

#entityDropdown {
  margin-bottom: 10px;
}

#entityInfo {
  margin-bottom: 10px;
}

/* Interface */
#controls-zone {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

#hide-interface {
  display: flex;
  align-items: center;
}

#hideButton {
  cursor: pointer;
  font-size: 20px;
  margin-right: auto; /* Fait en sorte que le bouton Hide soit à gauche */
}

#interface {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Fait en sorte que la partie interface occupe tout l'espace restant */
}

#controls,
#entity-option {
  display: flex;
  align-items: center;
}

#controls {
  flex-grow: 1; /* Fait en sorte que controls occupe tout l'espace disponible */
  justify-content: center; /* Centre horizontalement le contenu de controls */
}

#entity-option {
  margin-left: 10px; /* Ajoutez une marge à gauche pour séparer les deux sections */
}

#controls button,
#entity-option button {
  margin: 0 5px;
  font-size: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.arrow-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Ajoute une transition pour une animation fluide */
}

.arrow-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease; /* Ajoute une transition pour une animation fluide */
}