/*General*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

/* Chragement */
.loader{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lettre{
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}

@keyframes flash{
  0%{
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90%{
    color: #484848;
    text-shadow: none;
  }
  100%{
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}

.fondu-out{
  opacity: 0;
  display: none;
  transition: display 0.4s ease-out,opacity 0.4s ease-out;

}

/* Liste déroulante */
.custom-dropdown {
  position: absolute;
  top: 70px; 
  right: 10px; 
  background-color: #fff;
}

.dropdown-header {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
}

.dropdown-options div {
  padding: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Interface */
#controls-zone {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

#hide-interface {
  display: flex;
  align-items: center;
}

#hideButton {
  cursor: pointer;
  font-size: 20px;
  margin-right: auto; 
}

#interface {
  display: flex;
  align-items: center;
  flex-grow: 0.975; 
}

#controls,
#entity-option {
  display: flex;
  align-items: center;
}

#controls {
  flex-grow: 1; 
  justify-content: center; 
}

#entity-option {
  margin-left: 10px; 
}

#controls button,
#entity-option button {
  margin: 0 5px;
  font-size: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.arrow-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease; 
}

.arrow-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease; 
}

/*navbar*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #c2c2c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sidenav {
  position: relative;
}

.sidenav-header {
  padding: 10px;
  cursor: pointer;
}

.sidenav-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
}

.sidenav-options div {
  padding: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.buttons button {
  padding: 10px;
  cursor: pointer;
}

.second-part {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  
}

.search-bar input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #000; 
  outline: none;
}

.search-bar button {
  padding: 10px;
  cursor: pointer;
}

#startPauseButton {
  font-size: 40px !important;
  padding: 15px;
  cursor: pointer;
}

/* sidenav */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#sidenav {
  height: 100vh;
  width: 250px;
  background-color: #fff;
  color: #000;
  position: absolute;
  left: -250px;
  transition: 0.5s;
  padding-top: 20px;
  border-right: 2px solid #5b5f9a;
}

#sidenav a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  display: block;
  transition: 0.3s;
}

#sidenav a:hover {
  background-color: #f0f0f0;
}

#logo {
  padding: 15px;
  text-align: center;
}

#menu-icon {
  position: fixed;
  left: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 2;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  padding: 10px;
  bottom: 50px;
}

.social-icons a {
  margin-right: 5px;
}